<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>home</mat-icon>
    </button>
    <span>Training mode 🔥</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Main menu</p>
    <button *ngIf="showFiller" routerLink="/product">Lorem, ipsum dolor sit amet consectetur.</button>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Expandir
    </button>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="welcome">
      WELCOME
    </div>
  </div>
  <router-outlet></router-outlet>


</mat-drawer-container>
